<%= form_for @micropost do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared.micropost_form.content") %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="image">
    <%= f.file_field :image, accept: t("shared.micropost_form.type_image") %>
  </span>
<% end %>

<%= javascript_pack_tag "micropost_image" %>
